html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
}

#menubox {
    position: absolute;
    top: 0%;
    left: 10%;
    height: 6%;
    background-color: dimgrey;
    opacity: 0.9;
    width: 80%;
    z-index: 10;
}
