#summary {
    position: absolute;
    top: 65%;
    left: 2%;
    height: 30%;
    width: 30%;
    margin: 2px;
    padding: 5px;
    background-color: gold;
    border-radius: 10px;
    border: 3px ridge black;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s, z-index 1s;
    overflow: hidden;
}

#datapoint {
    position: absolute;
    top: 65%;
    left: 67%;
    height: 30%;
    width: 30%;
    margin: 2px;
    padding: 5px;
    background-color: gold;
    border: 3px ridge black;        
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s, z-index 1s;
    overflow: hidden;
}

.infotitle {
        text-align: center;
}
